{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="{%  static  'css/bootstrap.min.css'  %}" rel="stylesheet"/>
    </head>
    <body>
        <h1>Login</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Usename</label>
                <input type="text" class="form-control" name="username"placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </body>
</html>